.to-app-list {

    width: 500px;
    display: flex;
    text-align: left;
    flex-direction: column;

    button,
    button:active,
    button:focus {
        border: 0;
        margin: 0;
        outline: 0;
        padding: 0;
        cursor: pointer;
        background: none;
    }

    .header-section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logout {
            width: 60px;
            height: 40px;
            border: none;
            color: brown;
            font-size: 20px;
            padding-top: 8px;
            border-radius: 10px;
            background: transparent;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
    }

    .add-section {
        width: 100%;
        display: flex;
        margin-bottom: 15px;

        .add-text {
            flex: 1;
            border: none;
            outline: none;
            padding: 20px;
            font-size: 15px;
            border-radius: 10px;
            background: transparent;
            font-family: "Outfit", sans-serif;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }

        .add-task {
            font-size: 20px;
            margin-left: 10px;
            border-radius: 10px;
            padding: 10px 20px 0 20px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }

        .add-task:hover {
            background-color: rgb(161, 161, 161);
        }
    }

    .task-list {

        width: 100%;
        border-radius: 10px;
        padding: 15px 0 10px 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        .task-element {

            width: 100%;
            display: flex;
            justify-content: space-between;

            p {
                margin: 0;
                width: 100%;
                text-align: left;
                padding-left: 20px;
                padding-bottom: 12px;
            }

            .check-button,
            .delete-button {
                font-size: 20px;
                padding-top: 5px;
                padding-right: 10px;
            }
        }

    }
}